include README.md
include LICENSE
include CITATION.cff
include CONTRIBUTING.md
include requirements.txt
include action.yml
include .gitlab-ci.yml
include GITLAB_CI_USAGE.md
include contrib_checker_core.py
include check_contributors_github.py
include check_contributors_gitlab.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
